*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, sans-serif;
}
.msm_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.title h1{
    margin-bottom: 10px;
}
.msm_manage{
    display: flex;
    justify-content: center;
}
.msm_manage button{
    width:150px;
  	background-color:#3c3c3c;
  	color:white;
}
.msm_content{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.left{
    width: 350px;
}
.right{
    width:650px;
    text-align: right;
  	margin-top:10px;
}
.right button{
  	height:25px;
	width:50px;
  	margin-left:-4px;
	background-color:#3c3c3c;
  	color:white;
}
.right input{
	height:25px;
  	margin:-1px;
	padding-top:3px;
}
.left{
    text-align: left;
}
.left button{
  	float: right;
  	width:70px;
  	background-color: #3c3c3c;
  	color:white;
}
.left input{
  margin:5px;
  height:25px;  
}
.right table{
  	margin-left:70px;
    width: 70%;
  	height:auto;
    border-collapse: collapse;
    margin-top: 20px;
}
th{
    padding: 8px;
  	height: 10px;
    text-align: center;
}
td{
  	padding: 8px;
  	text-align: center;
  	height:auto;
}
* button:hover{
  background-color:#282828;
  color:rgb(246, 250, 124);
}
