<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>

    
    <div>
        <div class="update">
            <h2>제품 코드 수정</h2>
            <form name="frmDisplay" method="post" >
            
                <label>코드<input type="text" name="code" readonly  th:value="${vo.code}"> </label><br/>
                
                <label>코드명<input type="text" name="codeName" th:value="${vo.codeName}"> </label><br/>
                
                <div class="btnZone">
                    
                    <button type="button" class="btnUpdateR">수정</button>
                    
                    
                </div>
            </form>
        </div>
    </div>


</body>
</html>