<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ojw_index.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"  crossorigin="anonymous"></script>
    <script defer src="js/ojw_index.js"></script>
    <title>code view</title>
</head>
<body>
    <div id="product">
        <h1>판매관리</h1>
        <header>
            <nav>
                <button type="button">코드관리</button>
                <button type="button">판매관리</button>
            </nav>
        </header>
        <div class="center">
            <div class="left">
                <div class="ojw_view">
                    <h3>제품 코드 상세보기</h3>
                        <li style="list-style:none;">코드 <span>[[${vo.code}]]</span></li>
                        <br/>
                        <li style="list-style:none;">코드명 <span>[[${vo.codeName}]]</span></li>
                    <br/>
                    <button type="button" class="btnCodeUpdateForm">수정</button>
                    <button type="button" class="btnDelete">삭제</button>
                </div>
            </div>
            <div class="right">RIGHT</div>
        </div>
    </div>
</body>
</html>