<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div>

   
    <div class="register">
        <h2>제품 코드 상세보기</h2>
        <form name="frmDisplay" method="post">
            <label>코드<input type="text" name="code"> </label><br/>
            
            <label>코드명<input type="text" name="codeName"> </label><br/>
            
            <div class="btnZone">
                
                <button type="button" class="btnregisterR">등록</button>
                
                
            </div>
        </form>
    </div>
</div>
</body>
</html>