<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"  crossorigin="anonymous"></script>
    <script defer src="js/index.js"></script>

    <title>index</title>
</head>
<body>
    <div id="product">
        <h1>판매관리</h1>
        <header>
            <nav class="nav">
                <button type="button" class="btnManage">코드관리</button>
                <button type="button" class="btnSaleManage">판매관리</button>
            </nav>
        </header>
        <div class="center">
           
            <div class="left" >LEFT</div>
            <div class="right" >RIGHT</div>
        </div>
    </div>
</body>
</html>