<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="msm_container">
            <div class="msm_content">
                <button type="button" class="register">등록</button>
                <input type="text"    class="findStr">
                <button type="button" class="btnSearch">검색</button>
                <div class="items">
                    <table border="1px" class="item">
                        <tr>
                            <th>판매일</th>
                            <th>코드</th>
                            <th>코드명</th>
                            <th>금액</th>
                            <th>수량</th>
                            <th>단가</th>
                        </tr>
                        <tr th:each="p : ${list}" th:onClick="krhView([[${p.sno}]])">
                            <td>[[${p.nal}]]</td>
                            <td>[[${p.code}]]</td>
                            <td>[[${p.codeName}]]</td>
                            <td>[[${p.amt}]]</td>
                            <td>[[${p.ea}]]</td>
                            <td>[[${p.price}]]</td>
                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
